ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.example1 {
  position:absolute;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}


.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}



.container {

margin-top: 10px;  
  display: flex;
  justify-content: center;
  
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  margin: 40px;
}

.container .box .imgBx {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s ease-in-out;
  z-index: 2;
}

.container .box:hover .imgBx {
  transform: translate(-45px, -45px);
}

.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 15px;
  transition: .5s ease-in-out;
}

.container .box:hover .content {
  transform: translate(45px, 45px);
}

.container .box .content h2 {
  font-size: 18px;
  color :#111;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.container .box .content h2 span {
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .container .box:hover .content {
  transform: translate(0, 45px);
   }
  
  .container .box:hover .imgBx {
  transform: translate(0, -45px);
   }
}
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap');
